<head>
  <div class="title">
      <title>Noble Brewer</title>
  </div>
  <% include ./partials/head %>
</head>

<% include ./partials/header %>
<section class="diamond-base-section">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
            <h3> GET IMPOSSIBLE TO FIND CRAFT BEER DELIVERED TO YOU. </h1>
            <p>The best craft beers come from homebrewers. Become a member of Noble Brewer to try our award winning brewers' best beers.</p>
            <br>
            <br>
            <a class="btn btn-primary" style="padding: 14px;" href="/signupbrewer">BREWER</a>
            <a class="btn btn-primary" style="padding: 14px;" href="/signupbuyer">BUYER</a> 
          </div>
      </div>
  </div>
  <br>
  <br>
</section>

